@mixin transition($transition)
{
	 -webkit-transition: $transition;
	 -moz-transition: $transition;
	 -o-transition: $transition;
	 transition: $transition;
}

@mixin transform($transform)
{
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin transform-style($transform-style)
{
	-webkit-transform-style: $transform-style; 
	-moz-transform-style: $transform-style; 
	-o-transform-style: $transform-style; 
	transform-style: $transform-style; 
}

@mixin transform-origin($transform-origin)
{
	-webkit-transform-origin: $transform-origin;
	-moz-transform-origin: $transform-origin;
	-o-transform-origin: $transform-origin;
	transform-origin: $transform-origin;
}

@mixin backface-visibility($backface-visibility)
{
	-webkit-backface-visibility: $backface-visibility;
    -moz-backface-visibility: $backface-visibility;
}