@import "mixins";

// transition
.move-around-transition{
   @include transition (all .5s ease);
   @include transform(translateX(0));
 }

.move-around-enter{
  @include transform(translateX(300%));
}

.move-around-leave{
  @include transform(translateX(-300%));
}


.fade-transition{
  @include transition(all .8s ease);
  opacity: 1;
}

.fade-enter{
  opacity: 0;
}

.fade-leave{
  opacity: 0;
}

.flop-transition{
  @include transition(all .5s ease);
  @include transform(perspective(400px) rotateX(0deg));
  @include transform-style(preserve-3d);
  @include transform-origin(center);
  @include backface-visibility(hidden);
}

.flop-enter{
  @include transform(perspective(400px) rotateX(90deg));
}

.flop-leave{
  @include transform(perspective(400px) rotateX(90deg));
}