@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "transitions";

body{
 background-color: #000;
 font-family: Microsoft JhengHei;
 user-select: none;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/doraemon.jpg) no-repeat;
  background-size: cover;
 }
 h1,h2,h3,p,span{
  color: #fff;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
 }

 .well{
  background-color: rgba(0,0,0,0.3);
 }

 .container{
  //background-color: rgba(0,0,0,0.3);
 }

 .pagination
 {
  > li
  {
   > a, > span
   {
    background-color: rgba(255,255,255,0.3);
    color: #000;
     &:hover
     {
      background-color: rgba(255,255,255,0.6);
      color: #000;
     }
   }
  }

  > .active
  {
   > a, > span
   {
    background-color: rgba(0,0,0,0.3);
    border-color: #fff;
    &:focus, &:hover{
     background-color: rgba(0,0,0,0.3);
     border-color: #fff;
    }
   }
  }
 }

 .form-control{
  background-color: rgba(255, 255, 255, 0.8);
 }

 .label-danger{
  background-color: rgba(217, 83, 79, 0.55);
 }

 .navbar-inverse{
  .navbar-brand{
   color: #ffffff;
   text-shadow: 0 0 10px #fff;
  }
  background-color: rgba(34, 34, 34, 0.71);
  border-color: rgba(255, 255, 255, 0.8);
  > li{
   > a{
    color: #000000;
   }
  }
 }

 .btn-primary{
   background-color: rgba(0, 0, 0, 0.3);
   border-color: #fff;

   &:hover, &:focus, &:active{
     background-color: rgba(255, 255, 255, 0.3);
     border-color: #000;
     color: #000;
   }

   &:active:hover, &:active:focus{
     background-color: rgba(255, 255, 255, 0.3);
     border-color: #000;
     color: #fff;
   }

   &[disabled]:hover{
     background-color: rgba(255, 255, 255, 0.3);
     border-color: #000;
   }
 }

.app-view{
  position: fixed;
  margin-top: 60px;
  width: 100%;
  left: 0%;
}

.comments, .marquee{
  @include transform(translate3d(0, 0, 0));
}
@media (max-width: $screen-xs-max) {
  .app-view{
    width: 100%;
    left: 0%;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .app-view{
    width: 90%;
    left: 5%;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .app-view{
    width: 90%;
    left: 5%;
  }
}
@media (min-width: $screen-lg-min) {
  .app-view{
        width: 80%;
        left: 10%;
    }
}
