<template>
    <div class="about translate-3d">
        <h1>關於我</h1>
        <div class="col-md-4 col-md-offset-4">
            <h3>作者</h3>
            <a href="#"><img src="http://graph.facebook.com/100000007625600/picture?width=100&height=100" alt="" class="thumbnail"></a>
            <p>豆花</p>
            <p>人生目標是用嘴砲征服世界。</p>
            <h3>使用</h3>
            <a href="https://vuejs.org">
                <img src="https://vuejs.org/images/logo.png" alt="" width="100" height="100">
            </a>
            <p>Vue.js</p>
            <a href="https://laravel.com">
                <img src="https://laravel.com/assets/img/laravel-logo.png" alt="">
            </a>
            <p>Laravel</p>

        </div>
    </div>
</template>
<style scoped>
    .about{
        text-align: center;
    }

    .thumbnail{
        margin-left: auto;
        margin-right: auto;
    }
</style>
<script>
    export default{
        data(){
            return{
            }
        },
    }
</script>
