//app.vue
<style scoped lang="scss">
    .red {
        color: #f00;
    }
    .pull-down{
        margin-top: 60px;
    }
</style>

<template>
    <div>
        <nav-bar></nav-bar>
    </div>
    <div class="container pull-down">
        <router-view></router-view>
    </div>

</template>

<script>
    import CountDown from './countdown.vue';
    import NavBar from './nav-bar.vue';
    export default {
        data () {
            return {
                msg: 'Hello world!'
            }
        },
        components: {
            countdown: CountDown,
            navBar: NavBar,
        }
    }
</script>