<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="translate-3d">
        <div v-show="comments == null">
            <pacman-loader class="loader"></pacman-loader>
            <h1 class="loading">{{$t('page.loading')}}</h1>
        </div>
        <div v-show="comments != null">
            <div class="row header">
                <div class="pull-left">
                    <h1 class="title">{{$t('comment.title')}}</h1>
                </div>
                <div class="pull-right">
                    <a v-link="{path: '/comment/new'}" class="btn btn-primary btn-leave-comment">新增留言</a>
                </div>

            </div>
            <ul class="comments" v-if="comments != null">
                <li v-for="data in comments.data" transition="flop" stagger="100">
                    <div class="comment well">
                        <p><span>{{$t('comment.from')}}</span> {{data.name}} <span class="pull-right">{{$t('comment.created_at')}} {{data.created_at}}</span></p>
                        <p>{{data.comment}}</p>

                    </div>
                </li>
            </ul>
            <div class="pages">
                <ul class="pagination" v-if="pagination != null">
                    <li v-if="pagination.previous.active">
                        <a href="#" aria-label="Previous" v-link="{ name:'comment', params: { page: pagination.previous.to }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li v-for="page in pagination.pages" :class="{'active': page== pagination.current_page}">
                        <a href="#" v-link="{ name:'comment',  params: { page: (page)}}">{{ page }}</a>
                    </li>

                    <li v-if="pagination.next.active">
                        <a href="#" aria-label="Next" v-link="{ name:'comment', params: { page: pagination.next.to}}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .pages{
        text-align: center;
    }
    .comments{
        list-style: none;
        padding: 0px;
    }

    .loader{
        width: 100px;
        margin: 30% auto 0 auto;
    }
    .loading{
        text-align: center;
    }
    .header{
        height: 100px;
    }
    .btn-leave-comment{
        margin-top: 20px;
    }
</style>
<script>
    import { PacmanLoader } from 'vue-spinner/dist/vue-spinner.min.js'
    export default{
        data(){
            return {
                comments: null,
                page: 1,
            }
        },
        methods: {
        },
        computed: {
            pagination: function () {
                var offset = 10;
                var data = {};
                if(this.comments == null)
                        return null;
                data.current_page = this.comments.current_page;
                data.last_page = this.comments.last_page;
                data.total = this.comments.total;
                data.per_page = this.comments.per_page;
                data.pages = [];
                var from = Math.floor((data.current_page - 1) / offset) * offset + 1;
                //var from = Math.max(data.current_page - (offset - 1) , 1);
                var to = Math.min(from +  (offset - 1), data.last_page);
                for (var i = from; i <= to; i++)
                {
                    data.pages.push(i);
                }

                data.previous = {active: from - offset > 0, to: from - offset};
                data.next = {active: to + 1 < data.last_page, to: Math.min(to + offset, data.last_page)};
                return data;
            }
        },
        components: {
            PacmanLoader
        },
        ready: function () {
        },
        route:{
            data: function(transition){
                this.comments = null;
                var resource = this.$resource('comments');
                return resource.get({page: transition.to.params.page}).then(function (response) {
                    return {comments : response.data};
                });
            },
            canReuse: function(){
                //console.log('hook-example canReuse!')
                return true;
            },
            activate: function (transition) {
                console.log('hook-example activated!')
                transition.next()
            },
            deactivate: function (transition) {
                console.log('hook-example deactivated!')
                transition.next()
            }
        }
    }
</script>
