<template>
    <div :class="countdown">
        <h1><span v-if="diffTime > 0">{{$t('date.passed')}}</span><span v-else>{{$t('date.countdown')}}</span>{{days + $t('date.days') + hours + $t('date.hours') + minutes + $t('date.minutes') + seconds + $t('date.seconds')}}</h1>
    </div>
</template>
<style lang="scss" scoped>

</style>
<script>

    export default{
        data(){
            return{
                diffTime: 0,
            }
        },
        props: ['startAt'],
        methods : {
            updatePassedTime: function() {
                var self = this;
                var s = self.startAt;
                var splits =  s.split(/[^0-9]/);
                var startAt = new Date(splits[0] || 0, splits[1] - 1 || 0, splits[2] || 0, splits[3] || 0, splits[4] || 0, splits[5] || 0);
                var now = new Date();
                var diff = now.getTime() - startAt.getTime();

                self.diffTime = diff;
                setTimeout(self.updatePassedTime, 1000);
            }
        },
        computed: {
            formattedDiffTime: function () {
                var diff = this.diffTime;
                var days = Math.floor(diff / (1000 * 60 * 60 * 24));
                diff -=  days * (1000 * 60 * 60 * 24);

                var hours = Math.floor(diff / (1000 * 60 * 60));
                diff -= hours * (1000 * 60 * 60);

                var mins = Math.floor(diff / (1000 * 60));
                diff -= mins * (1000 * 60);

                var seconds = Math.floor(diff / (1000));
                diff -= seconds * (1000);

                return days + '天' + hours + '時' + mins + '分' + seconds + '秒';
            },
            days: function()
            {
                return Math.abs(Math.floor(this.diffTime / (1000 * 60 * 60 * 24)));
            },
            hours: function()
            {
                return Math.abs(Math.floor((this.diffTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
            },
            minutes: function()
            {
                return Math.abs(Math.floor((this.diffTime % (1000 * 60 * 60)) / (1000 * 60)));
            },
            seconds: function ()
            {
                return Math.abs(Math.floor((this.diffTime % (1000 * 60)) / 1000));
            }
        },
        created: function () {
            this.updatePassedTime();
        }
    }
</script>

