<template>
    <div>
        <div class="well col-md-6 col-md-offset-3">
            <h1>燒肉風間 Kazama</h1>
            <p>2016/09/25 11:30</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.6003666069832!2d120.64534431480338!3d24.150668879284606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d5f457ffa5d%3A0x19491ae308439052!2z54eS6IKJ6aKo6ZaTIEthemFtYQ!5e0!3m2!1szh-TW!2stw!4v1472395600417" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</template>
<style>
body{
    color: #fff;
}
</style>
<script>

    export default{
        data(){
            return{
                msg:'hello vue'
            }
        },
        components:{

        }
    }
</script>
