<template>
    <div class="root translate-3d">
        <div v-if="loading">
            <pacman-loader class="loader" :loading="loading"></pacman-loader>
            <h1 class="loading">{{$t('page.loading')}}</h1>
        </div>
        <div v-else>
            <h1>緬懷朵粒濕</h1>
            <countdown class="countdown" start-at="2016-03-31 18:00:00"></countdown>
            <marquee></marquee>
        </div>

    </div>
</template>
<style scoped>
    .loader{
        width: 100px;
        margin: 30% auto 0 auto;
    }
    .loading{
        text-align: center;
    }
    .countdown{
        text-align: center;
    }
    .root
    {
        text-align: center;
    }
</style>
<script>
    import { PacmanLoader } from 'vue-spinner/dist/vue-spinner.min.js'
    import Countdown from './countdown.vue'
    import Marquee from './marquee.vue'
    export default{
        data(){
            return{
                //msg:'hello vue'
                loading: true,

            }
        },
        methods: {
            loaded: function()
            {
                this.loading = false;
            }
        },
        components :{
            PacmanLoader,
            Countdown,
            Marquee,
        },
        created: function()
        {
            setTimeout(this.loaded, 1000);
        }
    }
</script>
