<template>
    <div class="marquee">
        <h1>大家的留言</h1>
        <div class="well col-md-6 col-md-offset-3" transition="move-around" v-show="show">
            <div v-if="show">
                <div class="row">
                    <span class="author pull-left">{{comment.name}}</span>
                    <span class="pull-right">#{{comment.id}}</span>
                </div>
                <div class="row">
                <p class="comment">
                    {{comment.comment}}
                </p>
                </div>
                <div class="row footer">
                    <p class="pull-right">{{comment.created_at}}</p>
                </div>
            </div>
            <div v-else>
                <div class="row">
                    <p>目前沒有留言</p>
                </div>
            </div>

        </div>
    </div>
</template>
<style scoped lang="scss">
    .marquee{
        margin-top: 60px;
    }

    .well{
        min-height: 300px;

        padding: 20px;
    }
    .loader{
        width: 100px;
        margin: 100px auto 0 auto;
    }
    .comment{
        margin-top: 20px;
        min-height: 178px;
    }
    .row{
        margin: 0px;
    }
    .footer{
        margin-bottom: 0px;
    }
</style>
<script>
    import { PacmanLoader } from 'vue-spinner/dist/vue-spinner.min.js'
    export default{
        data(){
            return{
                comment: null,
                show: false,
            }
        },
        props:{
            resource: null,
        },
        components:{
            PacmanLoader,
        },
        methods:{
            load: function () {
                var self = this;
                self.show = false;
                //self.comment = null;
                setTimeout(function()
                {
                    var resource = self.$resource('comment/rand');
                    resource.get({}).then(function (response) {
                        self.comment = response.data;
                        self.show = true;
                        setTimeout(this.load, 10000);
                    });
                },500);
            }
        },
        ready: function(){
            this.load();
        }

    }
</script>
