<template>
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" v-link="{ path : '/' } ">{{ $t('nav.home') }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li v-link-active><a v-link="{path: '/dine'}">{{ $t('nav.dine') }}</a></li>
                        <li v-link-active><a v-link="{name: 'comment', params: { page: 1 }}">{{ $t('nav.comment') }}</a></li>
                        <li v-link-active><a v-link="{ path: '/about'}">{{ $t('nav.about') }}</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <nav>

        </nav>
    </div>
</template>
<style>

</style>
<script>

    export default{
        data(){
            return{
                //msg:'hello vue'
            }
        },

    }
</script>
