<template>
    <div id="validation" class="well translate-3d">
        <a class="close" data-dismiss="alert" aria-label="Close" v-on:click="back()"><span aria-hidden="true">×</span></a>
        <h1 style="text-align: center;">新增留言</h1>
        <validator name="validation" >
            <form @submit.prevent="submit">
                <div class="form-group col-md-8 col-md-offset-2">
                <label for="name">留言者姓名
                    <span class="label label-danger" v-if="$validation.name.required">請輸入留言者姓名</span>
                    <span class="label label-danger" v-if="$validation.name.maxlength">留言者姓名最多50個字</span>
                    <span class="label label-danger" v-if="$validation.name.minlength">留言者姓名至少2個字</span>
                </label>
                <input type="name" v-model="name" class="form-control" v-validate:name="{required: true, maxlength:50, minlength: 2}">
                <label for="comment">訊息
                    <span class="label label-danger" v-if="$validation.comment.minlength">留言至少10個字</span>
                    <span class="label label-danger" v-if="$validation.comment.required">請輸入留言</span>
                    <span class="label label-danger" v-if="$validation.comment.maxlength">留言最多500個字</span>
                </label>
                <textarea name="" id="" cols="30" rows="10" v-model="comment" class="form-control" v-validate:comment="{required: true, maxlength:500, minlength: 10}">

                </textarea>
                </div>
                <input type="submit" class="btn btn-primary col-md-2 col-md-offset-5" :disabled="$validation.invalid">
            </form>
        </validator>
    </div>
</template>
<style scoped>
    .errors
    {
        list-style: none;
    }
    label{
        color: #fff;
    }

    #validation{
        height: 485px;
        margin-top: 50px;
    }

</style>
<script>
    export default{
        data(){
            return{
                name: null,
                comment: null,
                errors: null,
            }
        },

        components:{

        },
        methods: {
            submit: function(){
                var resource = this.$resource('comment/new');
                var self = this;
                resource.save({}, {name: this.name, comment: this.comment}).then(function(response)
                {
                    self.$route.router.go('/comment/1');
                }, function(response)
                {
                    console.log(response);
                    this.errors = response.data.data;
                });
            },
            back: function(){
                window.history.back();
            }
        }
    }
</script>
